ul li{
    display: inline-block;
    padding:10px;
    color:brown;
    margin-top:0px;
}
ul{
    margin-left:1100px;
}
.nava
{
   display: inline-flex;
   margin-left: 500px;
   margin-top: 10px;
}


